# Top-most EditorConfig file for Unreal Engine Project
root = true

# All files default
[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# C++ Source and Header files (Unreal Engine Standard)
[*.{h,cpp,inl}]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8-bom

# C# Build files (UnrealBuildTool / Target.cs / Build.cs)
[*.cs]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Configuration and Project descriptors
[*.{ini,json,uproject,uplugin}]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
insert_final_newline = true
charset = utf-8
